.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  
    h1 {
      text-align: center;
    }
  }
  .card-row {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-between;
    row-gap: 1.5rem;

    a {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .card {
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.15);
    height: auto;
    word-wrap: break-word;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
  }

  .card > img:first-child {
    border-radius: 7px 7px 0 0;
    max-width: 100%;
  }

  .card h3 {
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
  }

  .card p {
    color: #757575;
    margin: 0.7rem auto;
  }

  .flag {
    display: flex;
    align-items: center;
    justify-content: center;
}